@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .contactIcon{
    @apply text-lg w-12 h-12 bg-[#292929] rounded-full flex justify-center items-center hover:scale-110
  }

}

html{
  scroll-behavior: smooth;
}

#menu-icon{
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  
}
#menu-icon:checked ~ #nav-bar{
  left: 0;
}







/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ef4444 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ef4444;
    border-radius: 10px;
    border: 3px solid transparent;
  }
